<a href="https://colab.research.google.com/github/Aniketpatil1992/Machine-learning/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import seaborn as sns

In [4]:
#Importing the dataset
data = pd.read_csv("/content/Advertising_data.csv.csv")
data.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   2210
1   44.5   39.3       45.1   1040
2   17.2   45.9       69.3    930
3  151.5   41.3       58.5   1850
4  180.8   10.8       58.4   1290

Simple linear regression

Inititializing the variables

In [14]:
x=data['TV'].values.reshape(-1,1)
y=data['sales'].values.reshape(-1,1)

# Splitting dataset into training and testing dataset

In [82]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.3, random_state=45)

# Fitting linear regression to our training set to train our model

In [83]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

Predicting the test set result

In [84]:
y_pred=reg.predict(x_test)

In [85]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.5299030898659628