<a href="https://colab.research.google.com/github/Aniketpatil1992/Machine-learning/blob/main/Min%20max%20scaling%20or%20normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Min max scaling or normalization

# Improting the libraries

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# Importing the data set
data=pd.read_csv('/content/salary purchased.csv')
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [13]:
# feature scaling
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
data_minmax=pd.DataFrame(min_max.fit_transform(data),columns=data.columns)
data_minmax.head()

        Age  EstimatedSalary  Purchased
0  0.023810         0.029630        0.0
1  0.404762         0.037037        0.0
2  0.190476         0.207407        0.0
3  0.214286         0.311111        0.0
4  0.023810         0.451852        0.0

# Initializing the data set

In [14]:
x=data.drop(['Purchased'],axis=1)
y=data['Purchased'].values.reshape(-1,1)

# spliting data set in to training and ttesting data set

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size = 0.1, random_state=42)

In [ ]:
# feature scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [16]:
#Training the model using decision tree algorithm on training dataset
from sklearn.tree import DecisionTreeClassifier
Classifier=DecisionTreeClassifier()
Classifier.fit(x_train,y_train)

DecisionTreeClassifier()

In [17]:
#testing the model
y_pred=Classifier.predict(x_test)

In [18]:
#performance checking
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[23  4]
 [ 3 10]]

0.825

In [20]:
#predicting a new result
output=Classifier.predict([[31,26000]])
output

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])